@layer components {
  .left {
    position: relative;
    flex-basis: auto;
    box-sizing: border-box;
  }

  @media (min-width: 800px) {
    .left {
      flex-basis: var(--medium-bp-left-width);
    }
  }

  /* left container elements */
  .header {
    margin-top: 3rem;
    text-align: center;
    box-sizing: border-box;
    color: var(--text-color);
  }

  @media (min-width: 800px) {
    .header {
      margin-top: 0;
      position: fixed;
      inline-size: 16rem;
      padding-inline: var(--medium-bp-inline-spacing);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .header__primary-link {
    text-decoration: none;
    color: inherit;
  }

  .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5rem;
    line-height: 50px;
    overflow-wrap: break-word;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(var(--hero-text-gradient));
    -webkit-background-clip: text;
  }

  .contact {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    line-height: 1;
  }

  .contact a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
  }

  .contact__icon {
    width: 1.2rem;
    color: var(--text-color);
  }

  .contact__icon--github {
    color: var(--solid-primary);
  }

  .contact__icon--linkedin {
    color: var(--solid-primary-secondary);
  }

  .contact__icon--envelope {
    color: var(--solid-secondary);
  }

  .navigation {
    font-family: 'Cabin', sans-serif;
  }

  .navigation__list {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 0.875rem;
    justify-content: center;
    line-height: 25px;
  }

  @media (min-width: 800px) {
    .navigation__list {
      flex-direction: column;
    }
  }

  .navigation__item {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .navigation__item a {
    text-decoration: none;
    color: inherit;
  }

  .navigation__item a:hover {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(var(--medium-gradient));
    -webkit-background-clip: text;
    transition: 0.2s ease-in;
  }
}
